<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <header>
         <h1>Welcome,The Lavi Tyagi Restaurant</h1>
         <div class="head">
            <a href="#">About</a>
            <a href="#">Contact</a>  
        </div>

    </header>
    <main>
        <div class="slider">
            <img src="/images/homeimages/halll2.jpg" alt="">
            <img src="/images/homeimages/roof.jpg" alt="">
            <img src="/images/homeimages/glass.jpg" alt="">
            <img src="/images/homeimages/food.jpg" alt="">
            <img src="/images/homeimages/table.jpg" alt="">
            <img src="/images/homeimages/plate.jpg" alt="">
        </div>
        <div class="order">     
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </main>
    <footer>
    <p>© 2026 Foodies Restaurant | All Rights Reserved</p>
  </footer>
</body>
</html>