.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:#ff6b6b;
    color:white;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:15px;
    font-weight:bold;
}
