/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    background-color: rgb(17,17,17);
    color:white;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar{
    background-color:#0B0B0B;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar h2{
    color: rgb(245, 174, 76);
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
    transition:0.3s;
}

.navbar a:hover{
    color: rgb(245, 174, 76);
}

/* Page Heading */
h1{
    text-align:center;
    margin:30px 0;
    color: rgb(245, 174, 76);
}

/* Card Container */
.menu-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    padding:20px;
}

/* Card */
.card{
    background:#1c1c1c;
    width:230px;
    padding:20px;
    border-radius:15px;
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(245,174,76,0.3);
}

/* Image */
.card img{
    width:100%;
    height:170px;
    object-fit:cover;
    border-radius:15px;
}

/* Price */
.card p{
    margin:8px 0;
}

/* Cart Controls */
.cart-controls{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin:10px 0;
}

.cart-controls button{
    background: rgb(225, 180, 66);
    border:none;
    width:30px;
    height:30px;
    border-radius:50%;
    font-weight:bold;
    cursor:pointer;
}

/* Add Button */
.add-btn{
    background: rgb(225, 180, 66);
    border:none;
    padding:10px 15px;
    border-radius:20px;
    cursor:pointer;
    font-weight:bold;
    transition:0.3s;
}

.add-btn:hover{
    background: rgb(245, 174, 76);
}

/* Remove Button */
.card form button{
    background:#ff4d4d;
    border:none;
    padding:8px 12px;
    border-radius:10px;
    color:white;
    cursor:pointer;
}

/* Total Section */
h2{
    text-align:center;
    margin:30px 0;
    color: rgb(245, 174, 76);
}

/* Empty Cart */
.empty{
    text-align:center;
    margin-top:50px;
}
