*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:linear-gradient(90deg,#111,#222);
    color:white;
}

.logo{
    font-size:22px;
    font-weight:bold;
    letter-spacing:1px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:0.3s;
}

.nav-links a:hover{
    color:#ffb703;
}

.auth-section{
    display:flex;
    align-items:center;
    gap:15px;
}

.role{
    background:#ffb703;
    padding:5px 12px;
    border-radius:20px;
    font-size:13px;
    color:black;
    font-weight:bold;
}

.login-btn{
    background:#ffb703;
    padding:8px 18px;
    border-radius:25px;
    text-decoration:none;
    color:black;
    font-weight:bold;
    transition:0.3s;
}

.login-btn:hover{
    background:#ffd166;
}

.logout-btn{
    background:#e63946;
    padding:8px 18px;
    border-radius:25px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

.logout-btn:hover{
    background:#ff4d6d;
}
.cart-link{
    position:relative;
}

.cart-count{
    background:#ffb703;
    color:black;
    font-size:12px;
    padding:3px 8px;
    border-radius:50%;
    margin-left:5px;
    font-weight:bold;
}
